<div class="category_cards">
  <div class="category_card" id="meat_fish">
    <i class="fas fa-drumstick-bite"></i>
    <h1>meat & fish</h1>
  </div>
  <div class="category_card" id="fruit_veg">
    <i class="fas fa-seedling"></i>
    <h1>fruit & veg</h1>
  </div>
  <div class="category_card" id="snacks">
    <i class="fas fa-cookie-bite"></i>
    <h1>snacks</h1>
  </div>
  <div class="category_card" id="soft_drinks">
    <i class="fas fa-glass-whiskey"></i>
    <h1>soft drinks</h1>
  </div>
  <div class="category_card" id="beer_wine">
    <i class="fas fa-wine-bottle"></i>
    <h1>beer & wine</h1>
  </div>
  <div class="category_card" id="household">
    <i class="fas fa-home"></i>
    <h1>household</h1>
  </div>
  <div class="category_card" id="health">
    <i class="fas fa-heart"></i>
    <h1>health</h1>
  </div>
  <div class="category_card" id="beauty">
    <i class="fas fa-pump-soap"></i>
    <h1>beauty</h1>
  </div>
  <div class="category_card" id="bakery">
    <i class="fas fa-bread-slice"></i>
    <h1>bakery</h1>
  </div>
  <div class="category_card" id="deli">
    <i class="fas fa-cheese"></i>
    <h1>deli</h1>
  </div>
  <div class="category_card" id="frozen">
    <i class="far fa-snowflake"></i>
    <h1>frozen</h1>
  </div>
  <div class="category_card" id="petfood">
    <i class="fas fa-paw"></i>
    <h1>petfood</h1>
  </div>
  <div class="category_card" id="toys">
    <i class="fas fa-gamepad"></i>
    <h1>toys</h1>
  </div>
  <div class="category_card" id="clothes">
    <i class="fas fa-tshirt"></i>
    <h1>clothes</h1>
  </div>
  <div class="category_card" id="stationary">
    <i class="fas fa-paperclip"></i>
    <h1>stationary</h1>
  </div>
</div>