<body class="landing-background">
<% if user_signed_in? %>
<%= link_to "let's shop", lists_path(@lists), class: "btn-flat" %>
<% else %>
<%= link_to "Sign_up", new_user_registration_path, class: "btn-flat" %>
<% end %>
</body>
