// primary button

.btn-flat {
  color: #326583;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F0D366;
  transition: background 0.3s ease;
  font-family: 'Roboto', sans-serif;
  width: 136px;
  height:56px;
  text-align: center;
  font-size: 24px;
}

.btn-flat:hover {
  background: #D1B74F;
  color: #326583;
}

.btn-long {
  width: 352px;
  height: 40px;
  background: #346582;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  transition: background 0.3s ease;
  color: #FFFFFF;
  border-radius: 4px;
  position: fixed;
  top: 72px;
  z-index: 1;
}

.btn-long:hover {
  background: #21455B;
  color: #FFFFFF;
}

.btn-long-shop {
  width: 352px;
  height: 40px;
  background: #346582;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  transition: background 0.3s ease;
  color: #FFFFFF;
  border-radius: 4px;
  z-index: 1;
  position:fixed;
  bottom: 16px;
  left:12px;
  padding: 0px;

}

.list-button-flex {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.btn-small {
  background: #F0D366;
  color: #346582;
  // width: 72px;
  // height: 32px;
  transition: background 0.3s ease;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.btn-small:hover {
  background: #D1B74F;
  color: #346582;
  text-decoration: none;
}

.fa-arrow-left {
  color: #FFFFFF;
  font-size: 24px;
}

.btn-long-half {
  width: 176px;
  height:40px;
  background: #346582;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  transition: background 0.3s ease;
  color: #FFFFFF;
  border-radius: 4px;
  text-align:center;
  position: sticky;
  bottom: 16px;

}

.btn-long-half:hover{
  background: #21455B;
  color: #FFFFFF;
}
