.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content:center;
}

.category-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.category-item {
  display: flex;
  width: 346px;
  height:32px;
  background-color: #F29559;
  // margin: 8px;
  border-radius: 4px;
  position: relative;
  top: 48px;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-family: 'Roboto', sans-serif;
  // padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  .category-title {
    position: relative;
    top: 4px;
    margin: 0px;
  }
}

.category-item i {
  font-size: 20px;
  margin: 0px;
}

.icon-group-cat a {
  color:white;
}


.button-background {
  background-color: #FFFFFF;
  width: 350px;
  height: 40px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.item-input {
  font-family: 'Roboto', sans-serif;
  align-items:center;
  width: 338px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  background-color: #FFE9D9;
  margin: 8px;
  top: 48px;
}

.icon-group-item a {
  color: #346582;
}

  .item-stuff {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }

.item-add {
  position: relative;
  top: 48px;
  left: -96px;
  margin: 8px;
  color: #A1A1A1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.flexbox-class {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.hide-edit {
  position: relative;
  top: -9px;
}

.input-box {
  position:relative;
  top: 56px;
}
