.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content:center;
  // overflow: scroll;
  margin-top: 8px;
  margin-botom: 8px;
}

.category-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.category-item {
  display: flex;
  width: 346px;
  height:40px;
  background-color: #F29559;
  // margin: 8px;
  border-radius: 4px;
  position: relative;
  top: 48px;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-family: 'Roboto', sans-serif;
  // padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  .category-title {
    position: relative;
    top: 4px;
    margin: 0px;
  }
}

.category-item i {
  font-size: 20px;
  margin: 0px;
}

.icon-group-cat a {
  color:white;
  font-size: 24px;
}


.button-background {
  background-color: #FFFFFF;
  width: 350px;
  height: 40px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.item-input {
  font-family: 'Roboto', sans-serif;
  align-items:center;
  width: 338px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  background-color: #FFE9D9;
  margin: 8px;
  top: 48px;
}

.icon-group-item a {
  color: #346582;
}

  .item-stuff {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }

.item-add {
  position: relative;
  top: 48px;
  left: 4px;
  margin: 8px;
  color: #A1A1A1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.flexbox-class {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  height: 48px;
  .form-control {
    position: relative;
    top: 23px;
  }
  .hide-edit {
    position: relative;
    top: -26px;
    right: -220px;
    align-self: center;
  }
}


.input-box {
  position:relative;
  top: 56px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.add-form {
  display:flex;
  justify-content:space-between;
  .add-item-form {
    position: relative;
    top:-50px;
    right: -205px;
  }
  .form-control {
    position:relative;
    left: 8px;
  }
}

.item-stuff {
  height: 32px;
}

.item-stuff i {
  position:relative;
  align-items: center;
  top:7px;
  margin: 20 auto;
}

.item-stuff p {
  position: relative;
  top: 3px;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 200px;
}

.icon-group-item {
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0;

}

.margin-container-scroll {
  margin-top: 8px;
  margin-bottom: 8px;
}
